body{
    font-family: 'Poppins', sans-serif;
}
/*PAGE MON COMPTE*/

#avatar_compte{
    width: 300px;
    height: auto;
    display: block;
    margin: 0px auto;
}

#profile_name{
    font-size: 50px;
    text-align: center;
    margin: 5px 0px 40px 0px;
    font-weight: bolder;
}

h2{
    font-weight: bolder;
}

p{
    font-weight: bold;
}

.div_compte{
    width: 90%;
    height: auto;
    left: 259px;
    top: 282px;
    padding: 20px;
    margin: 30px;
    background: #F4F4F4;
    border-radius: 10px;
}


.btn_supp{
    text-decoration: none;
    color: white;
    background-color: #ff7676;
    padding: 15px 10px;
    border-radius: 10px;
    width: 15%;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 100px;
}

.btn_supp:hover{
    text-decoration: none;
    color: white;
    background-color: #ff9292;
    padding: 15px 10px;
    border-radius: 10px;
}

.btn_modif{
    font-weight: bolder;
    width: 260px;
    background: #D599F1;
    border-radius: 20px;
    margin: 10px 20px 10px 0px;
    text-align: center;
    padding:10px;
}

.btn_modif:hover{
    background: #d270ff;
}

#img_abonnement{
    width: 15%;
    height: auto;
    left: 315px;
    top: 889px;
}

#abonnement{
    font-size: 36px;
    line-height: 54px;
    font-weight: bolder;
}

/*Page modification du compte*/

h1{
    font-size: 40px;
    font-weight: 900;
    margin-left: 30px;
}

