
h1{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.tags{
    justify-content: center;
    margin:auto;
    width: 247px;
}

img{
    width: 150px;
    height: 150px;
}