body{
    font-family: 'Poppins', sans-serif;
}
/*Nav bar verticale*/
.row{
    display: flex;
}

.nav-bar{
    width: 20%;
}

.ul_navbar{
    list-style-type: none;
    width: 12%;
    height:100%;
    top:0;
    left:0;
    padding:20px;
    margin:0;
    position: fixed;
    background-color: #2b2b2b;
}

.li_navbar{
    padding:10px;
    display: flex;
}

.li_navbar:hover{
    background-color: #3b3b3b;
    border-radius:10px;
}

.a_navbar{
    text-decoration: none;
    color: white;
    width: 85%;
}

.img_navbar{
    width: 15%;
    margin-right: 10px;
    fill: white;
}

.li_logo_navbar{
    color: white;
    font-size: 25px;
    margin: 10px 5px 30px 5px;
    font-weight: 1000;
}

.contenu{
    width: 80%;
    padding-left: 50px;
}

/*PAGE MON COMPTE*/

#avatar_compte{
    width: 300px;
    height: auto;
    display: block;
    margin: 0px auto;
}

#profile_name{
    font-size: 50px;
    text-align: center;
    margin: 5px 0px 40px 0px;
    font-weight: bolder;
}

h2{
    font-weight: bolder;
}

p{
    font-weight: bold;
}

.div_compte{
    width: 1400px;
    height: auto;
    left: 259px;
    top: 282px;
    padding: 20px;
    margin-bottom: 30px;
    background: #F4F4F4;
    border-radius: 10px;
}


.btn_supp{
    text-decoration: none;
    color: white;
    background-color: #ff7676;
    padding: 15px 10px;
    border-radius: 10px;

}

.btn_supp:hover{
    text-decoration: none;
    color: white;
    background-color: #ff9292;
    padding: 15px 10px;
    border-radius: 10px;
}

.btn_modif{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    border:none;
    width: 260px;
    height: 46px;
    left: 287px;
    top: 715px;
    background: #D599F1;
    border-radius: 20px;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
}

.btn_modif:hover{
    background: #d270ff;
}

#img_abonnement{
    width: 15%;
    height: auto;
    left: 315px;
    top: 889px;
}

#abonnement{
    font-size: 36px;
    line-height: 54px;
    font-weight: bolder;
}

.btn_ab{
    width: 260px;
    height: 38px;

}


